<div class="container">
  <br><br><br><br><br><br><br><br><br>
  <h1 class="center">new to pocketravel?</h1>

  <%= render 'form' %>

  <p>Already have an account? Click <%= link_to "here.", login_path %></p>
</div>
