<br>
<br>
<br>
<div class="section red z-depth-1">
  <div class="row container">
    <h2 class="header center-align white-text">pocketravel</h2>
    <p class="white-text center-align">easy, portable travel recommendations</p>
  </div>
</div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/5.jpg"> </div>
  </div>
  <div class="section black">
    <div class="row container">
      <h2 class="center-align white-text">Perrrfect</h2>
      <p class="white-text center-align">Sign up and join the combo community</p>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="/images/background3.jpg"></div>
  </div>
  </div>
