<div class="parallax-container center-text">
  <div class="parallax"><img src="/images/5.jpg"> </div>
  <h1 class="center-align white-text">pocketravel</h1>
  <h4 class="center-align white-text">your favorite offline app</h4>
</div>

<div class="section black about">
    <h3 class="center-align white-text vertical-align">for the explorer that likes to explore new places</h3>
</div>

<div class="parallax-container center-text">
  <div class="parallax"><img src="/images/sf2.jpg"></div>
  <h1 class="center-align white-text">san francisco, california</h1>
</div>

<div class="section black about">
    <h3 class="center-align white-text vertical-align">share your trip recommendations and favorite local spots with your friends easily</h3>
</div>

<div class="parallax-container center-text">
  <div class="parallax"><img src="/images/m.jpg"></div>
  <h1 class="center-align white-text">manhattan, new york</h1>

</div>
