<h1>Reva Bhatt's Itinerary for <%= @city.name %></h1>
<div class="container">
  <div id="search">
    <h3>search</h3>

    <!-- search box -->
    <div class="input-group">
      <input id="searchInput" type="text" class="form-control" placeholder="Search for...">
    </div><!-- /input-group -->

    <!-- append search results -->
    <ul id="search-results">
    </ul>
  </div>

  <!-- map -->
  <div id="map"></div>
</div>

<div class="container">
  <div id="one-result">
  </div>
</div>
