<h1>Reva Bhatt's Itinerary for <%= @city.name %></h1>
<div class="container">
  <div class="search">
    <h3>search</h3>

    <!-- search box -->
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">search</button>
      </span>
    </div><!-- /input-group -->
  </div>

  <div class="map">
  </div>
</div>

<div class="container">
  <div class="results">
    <h3>results</h3>
  </div>
</div
